# Node modules (ignore from all apps/packages)
node_modules/

# Build outputs
dist/
.next/
out/
build/

# Turbo & pnpm
.pnpm-store/
.turbo/
.cache/
.vscode/
.DS_Store

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor settings
.idea/
*.swp
